@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin-top:2%;">
    <div class="col-lg-12">
        <h2>Notifications</h2>
        <div class="col-lg-offset-1 col-lg-9">
            <div class="table-responsive margtop">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>Mme Katreur <br /> Ajouté pour 16h</td>
                            <td>Camion 10</td>
                            <td><img src="~/Images/ok.png" class="alignOk" /></td>
                        </tr>
                        <tr>
                            <td>Mme Katreur <br /> Ajouté pour 16h</td>
                            <td>Camion 10</td>
                            <td><button type="button" class="btn btn-success alignValider">Valider</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

