<!-- ko with: home -->
<script type="text/javascript">
    //function show_map(position) {
    //    var latitude = position.coords.latitude;
    //    var longitude = position.coords.longitude;
    //    document.write("Lat : "+latitude);
    //    document.write("Long : "+longitude);
    //}

    //window.navigator.geolocation.getCurrentPosition(show_map);
</script>

<div class="row">
    <center>
        <br />
        <br />
        <button type="button" class="btn btn-danger btn-lg" style="width: 80%; margin-left: 10%; margin-right: 10%;">
            <a href="#">Accident</a>
        </button>
        <br />
        <br/>
        <button type="button" class="btn btn-danger btn-lg" style="width: 80%; margin-left: 10%; margin-right: 10%;">
            <a href="#">FIN Accident</a>
        </button>
        <br />
        <br />
        <button type="button" class="btn btn-warning btn-lg" style="width: 80%; margin-left: 10%; margin-right: 10%;">
            <a href="#">En panne</a>
        </button>
        <br />
        <br />
        <button type="button" class="btn btn-warning btn-lg" style="width: 80%; margin-left: 10%; margin-right: 10%;">
            <a href="#">FIN de panne</a>
        </button>
        <br />
        <br />
        <button type="button" class="btn btn-success btn-lg" style="width: 80%; margin-left: 10%; margin-right: 10%;">
            <a href="#">Pause</a>
        </button>
        <br />
        <br />
        <button type="button" class="btn btn-success btn-lg" style="width: 80%; margin-left: 10%; margin-right: 10%;">
            <a href="#">FIN pause</a>
        </button>
        <br />
        <br />
        <button type="button" class="btn btn-primary btn-lg" style="width: 80%; margin-left: 10%; margin-right: 10%;">
            <a href="#">Embouteillage</a>
        </button>
        <br />
        <br />
        <button type="button" class="btn btn-primary btn-lg" style="width: 80%; margin-left: 10%; margin-right: 10%;">
            <a href="#">FIN embouteillage</a>
        </button>
        <br />
        <br />
</center>
</div>


<!-- /ko -->
