
<div class="row" style="margin-top:2%;">
    <div class="col-lg-12">
        <h2>Tableau de bord</h2>
        <br/>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11313.38058289241!2d-0.5729947193115235!3d44.85526794826304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1428071347436" width="100%" height="500" frameborder="0" style="border:0"></iframe>
    </div>
</div>
